body {
    font-family: Arial, sans-serif;
    background-color: #232f3e; /* Amazon color */
    color: #ffffff; /* White text */
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF9900; /* Amazon orange */
    padding: 1rem;
    text-align: center;
}

h1, h2 {
    color: #232f3e; /* Dark blue */
}

main {
    padding: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 1rem;
}

input[type="checkbox"] {
    margin-right: 1rem;
}

footer {
    background-color: #FF9900; /* Amazon orange */
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #232f3e; /* Dark blue */
    color: #ffffff; /* White text */
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #FF9900; /* Amazon orange */
}
